<div id="xlthlx-archive" class="widget widget_grey p-4 mb-3 rounded-0">
	<h4 class="font-italic pb-2">Archives</h4>
	<div class="textwidget">
		<amp-accordion id="archives" class="accordion accordion-flush" animate>

			<section class="accordion-item">
				<h2 class="accordion-header" id="year-2021">
					<button class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapse-2021"
							aria-expanded="true"
							aria-controls="collapse-2021">
						2021
					</button>
				</h2>
				<div id="collapse-2021"
					 class="accordion-collapse collapse show"
					 aria-labelledby="year-2021"
					 data-bs-parent="#archives"
					 style="">
					<div class="accordion-body">
						<ul>
							<li>
								<a href="https://xlthlx.com/2021/02/">
									Febbraio </a>
							</li>
							<li>
								<a href="https://xlthlx.com/2021/01/">
									Gennaio </a>
							</li>
						</ul>
					</div>
				</div>
			</section>

		</amp-accordion>
	</div>
</div>
