body {
	padding-top: 0 !important;
}

@media (min-width: 784px) {
	.amp-sidebar-toolbar-target-hidden {
		display: none;
	}
}

amp-accordion section[expanded] h2 {
	background-color: white !important;
	border-bottom: none !important;
}

amp-accordion section[expanded] .accordion-button::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233d2c7f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	transform: rotate(
			180deg
	);
}

.accordion-header {
	background-color: transparent !important;
	padding-right: 0 !important;
	border: none !important;
}

.banner {
	min-height: 52px;
}

.navbar-toggler {
	font-size: 1.8rem;
}

amp-sidebar ul {
	padding-left: 1rem;
	padding-right: 1rem;
}
