<form action="{{ site.url }}/" method="get" id="searchform" class="d-flex">
	<label for="s" class="visually-hidden">{{ _e( 'Search') }}</label>
	<input class="form-control me-2 rounded-0 p-1" type="text" aria-label="{{ _e( 'Search') }}" name="s" id="s" placeholder="Search">
	<button class="btn btn-sm btn-dark rounded-0" type="submit">
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
			 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
			 stroke-width="2" role="img" viewBox="0 0 24 24" focusable="false"><title>{{ _e( 'Search') }}</title>
			<circle cx="10.5" cy="10.5" r="7.5"/>
			<path d="M21 21l-5.2-5.2"/>
		</svg>
		<span class="visually-hidden">Search</span>
	</button>
</form>
