.interface-interface-skeleton__content .wp-block {
	max-width: 90%
}

.interface-interface-skeleton__content .wp-block .wp-block {
	max-width: 100%
}

.interface-interface-skeleton__content .block-list-appender {
	margin-left: auto;
	margin-right: auto
}

#group_contacts, #group_en {
	float: left;
	width: 100%;
}

.half-width {
	float: left;
	width: 50%;
}

.postbox {
	clear: both;
}
