{% if menu %}
	{% for item in items %}
		<span class="badge bg-dark rounded-0 border-0">|</span>
		<a class="nav-link d-inline p-0" target="{{ item.target }}" href="{{ item.link }}">
			{{ item.title }}
		</a>&nbsp;
	{% endfor %}
{% endif %}
