<div class="row">
    <div class="col-12 d-flex">
        <div class="col-auto me-auto d-flex">
            {{ fn('get_previous_post_link', '%link', '<span class="display-5 arrow" aria-hidden="true">&#8672;</span><span class="visually-hidden">Previous</span>') }}
        </div>
        <div class="col-auto d-flex">
        {{ fn('next_post_link', '%link', '<span class="display-5 arrow" aria-hidden="true">&#8674;</span><span class="visually-hidden">Next</span>') }}
        </div>
    </div>
</div>