<div id="xlthlx-newsletter" class="widget widget_grey widget_xlthlx-newsletter p-4 mb-4 rounded-0">
	<h3 class="font-italic pb-2">Newsletter</h3>
	<div class="textwidget">
		Do you want to receive an email when a new article is published?<br/>
		{{ fn('do_shortcode', '[contact-form-7 id="34503"]') }}
	</div>
</div>
