<div id="xlthlx-newsletter" class="widget widget_xlthlx-newsletter pb-4 px-4 mb-3 rounded-0">
	<h3 class="font-italic pb-2">Newsletter</h3>
	<div class="textwidget">
		Do you want to receive an email when a new article is published?<br/>
		{{ fn('do_shortcode', '[contact-form-7 id="34503"]') }}
	</div>
</div>
