<div id="xlthlx-newsletter" class="widget widget_grey widget_xlthlx-newsletter p-4 mb-4 rounded-0">
	<h3 class="font-italic pb-2">Newsletter</h3>
	<div class="textwidget">
		Vuoi ricevere una email quando viene pubblicato un nuovo post?<br/>
		{{ fn('do_shortcode', '[contact-form-7 id="34396"]') }}
	</div>
</div>
<div id="xlthlx-exit" class="widget widget_grey widget_block p-4 mb-4 rounded-0">
	<a title="Sbattèzzati!" href="https://www.sbattezzati.it/" target="_blank">
		<img loading="lazy" src="{{ fn('get_template_directory_uri') }}/assets/img/exit.png" class="img-fluid" alt="Sbattèzzati!" width="300" height="78">
	</a>
</div>
