<div id="xlthlx-newsletter" class="widget widget_xlthlx-newsletter pb-4 px-4 mb-3 rounded-0">
	<h3 class="font-italic pb-2">Newsletter</h3>
	<div class="textwidget">
		Vuoi ricevere una email quando viene pubblicato un nuovo post?<br/>
		{{ fn('do_shortcode', '[contact-form-7 id="34396"]') }}
	</div>
</div>
