<div id="xlthlx-newsletter" class="widget widget_xlthlx-newsletter pb-4 px-4 mb-3 rounded-0">
	<h4 class="font-italic pb-2">Iscriviti alla newsletter</h4>
	<div class="textwidget">
		{{ fn('do_shortcode', '[mailpoet_form id="1"]') }}
	</div>
</div>
