<div class="col-auto d-flex justify-content-end ms-auto">
	{% if lang == 'en' %}
		<button title="English" type="button" class="btn btn-secondary rounded-0 pe-none lang active">EN</button>
		<a href="{{ post.link }}" title="Italiano" class="btn btn-outline-secondary rounded-0 lang pink-hover" role="button">IT</a>
	{% else %}
		<a href="{{ post.link }}en/" title="English" class="btn btn-outline-secondary rounded-0 lang pink-hover" role="button">EN</a>
		<button title="Italiano" type="button" class="btn btn-secondary rounded-0 pe-none lang active">IT</button>
	{% endif %}
</div>
