<div class="nav flex-column nav-pills my-md-0 my-4 col-md-12 col-6 mx-auto text-center" role="tablist" aria-orientation="vertical">
	<a role="tab" title="Italiano" class="switch_tab nav-link rounded-0 {{ class_it }}" href="{{ post.link }}">Italiano</a>
	<a role="tab" title="English" class="switch_tab nav-link rounded-0 {{ class_en }}" href="{{ post.link }}en/">English</a>
</div>
