<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	<a class="nav-link active rounded-0" id="v-pills-ita-tab" data-bs-toggle="pill" href="#v-pills-ita"
	   role="tab" aria-controls="v-pills-ita" aria-selected="true">Italiano</a>
	<a class="nav-link rounded-0" id="v-pills-eng-tab" data-bs-toggle="pill" href="#v-pills-eng"
	   role="tab" aria-controls="v-pills-eng" aria-selected="false">English</a>
</div>
