<div class="nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
	<a title="English" class="nav-link {{ class_en }} rounded-0" href="{{ post.link }}en/">English</a>
	<a title="Italiano" class="nav-link {{ class_it }} rounded-0" href="{{ post.link }}">Italiano</a>
</div>
