<ul class="nav nav-pills col-6 justify-content-end" role="tablist">
	<li class="nav-item"><a role="tab" title="Italiano" class="switch_tab nav-link rounded-0 {{ class_it }}" href="{{ post.link }}">Italiano</a></li>
	<li class="nav-item"><a role="tab" title="English" class="switch_tab nav-link rounded-0 {{ class_en }}" href="{{ post.link }}en/">English</a></li>
</ul>
