.white {
	color: #ffffff !important;
}

.black {
	color: #0a0a11;
}

.blue {
	color: #6667ab;
}

.pink {
	color: #b73275 !important;
}

.violet {
	color: #544275;
}

.light {
	color: #e0e1ee !important;
}

.dark {
	color: #333456;
}
