:root {
	color-scheme: light dark;
}

body {
	--text-color: #333456;
	--bkg-color: #FFFFFF;
}

body.dark-theme {
	--text-color: #E5E5E5;
	--bkg-color: #161616;
	--bs-body-color: #E5E5E5;
}

body {
	background-color: var(--bkg-color);
}

h1,
p {
	color: var(--text-color);
}

body.dark-theme img {
	filter: brightness(.8) contrast(1.2);
}

body.dark-theme .widget_grey, body.dark-theme .widget_pages, body.dark-theme .bg-violet {
	color: #E5E5E5;
}

body.dark-theme .widget_grey .btn, body.dark-theme .widget_grey .form-control {
	border: 2px dashed white;
}

.display-5 {
	color: var(--text-color);
}

body.dark-theme a {
	color: #f1469c;
}

body.dark-theme a:hover {
	color: #f1469c !important;
}

body.dark-theme a.text-dark, body.dark-theme h2.text-dark {
	color: #FFFFFF !important;
}

body.dark-theme a.text-dark:hover {
	color: #FFFFFF !important;
	text-decoration-color: #FFFFFF !important;
}

body.dark-theme .widget a {
	color: #E5E5E5;
}

body.dark-theme .widget a:hover {
	text-decoration: underline;
}

body.dark-theme #primary {
	background-color: #333456 !important;
}

body.dark-theme #primary:after {
	box-shadow: 0 0 0 120px #333456;
}

body.dark-theme footer {
	background-color: #202136 !important;
}

body.dark-theme footer:after {
	box-shadow: 0 90px 0 120px #202136;
}

body.dark-theme input, body.dark-theme textarea, body.dark-theme .form-control:focus {
	background-color: var(--bkg-color);
	color: var(--text-color);
}

body.dark-theme .form-control::placeholder {
	color: var(--text-color);
}

body.dark-theme .form-floating > .form-control::placeholder {
	color: transparent;
}

body.dark-theme .widget_outline_grey {
	border: 5px solid #525289 !important;
	background-color: #000000 !important;
}

body.dark-theme .widget_grey .btn.bg-white:not(:hover) {
	background-color: var(--bkg-color) !important;
}

body.dark-theme .card {
	background-color: var(--bkg-color);
	color: var(--text-color);
}

body.dark-theme .comment-date small.text-muted, body.dark-theme .alert {
	color: #FFFFFF !important;
	background-color: #333456 !important;
}

body.dark-theme .card-title.comment-author {
	color: #f1469c;
}

body.dark-theme a {
	color: #f1469c;
}

body.dark-theme a:hover {
	color: #f1469c;
	text-decoration: underline;
	text-decoration-color: #f1469c;
}

body.dark-theme .pagination .page-link {
	color: #f1469c;
	background-color: transparent;
}

body.dark-theme .pagination .page-link:hover, body.dark-theme .pagination .page-link.current {
	color: #FFFFFF;
	background-color: #525289;
	text-decoration: none !important;
}

body.dark-theme .pagination .page-link.dots {
	color: #FFFFFF;
	background-color: transparent;
	border-width: 0 !important;
}

body.dark-theme h1#logo a:hover, body.dark-theme .dropdown-item a, body.dark-theme .btn-outline-secondary:hover {
	color: #FFFFFF !important;
	text-decoration: none !important;
}

body.dark-theme .dropdown-item a, body.dark-theme .btn-outline-secondary:hover {
	border: 2px solid transparent !important;
}

body.dark-theme .dropdown-item:focus, body.dark-theme .dropdown-item:hover {
	text-decoration: none !important;
	font-weight: bold;
}

body.dark-theme .page-content .btn.bg-white:not(:hover) {
	background-color: var(--bkg-color) !important;
}

body.dark-theme .tease:hover a.arrow, body.dark-theme .tease:hover h2 a {
	color: #6667ab;
	text-decoration: underline;
	text-decoration-color: #6667ab;
}

body.dark-theme a.arrow:hover {
	color: #6667ab !important;
}

body.dark-theme .btn-outline-secondary {
	color: #FFFFFF !important;
	border: 2px dashed #FFFFFF !important;
}

body.dark-theme #primary a.nav-link, body.dark-theme #primary a.nav-link:hover, body.dark-theme #primary a.nav-link:focus {
	color: white !important;
	text-decoration: none;
}

body.dark-theme footer a:hover, body.dark-theme footer a:focus {
	text-decoration: none !important;
}

body.dark-theme .btn-dark {
	color: #fff;
	background-color: #2b2c49;
}

body.dark-theme .btn-dark:hover {
	background-color: #f1469c;
}

body.dark-theme .btn-secondary.active {
	color: #fff;
	background-color: #333456 !important;
}

body.dark-theme .dropdown-menu {
	background-color: #333456 !important;
}

body.dark-theme .btn-outline-secondary.active {
	background-color: #333456 !important;
}

body.dark-theme a.bmc-btn:hover {
	color: #FFFFFF !important;
	text-decoration: none !important;
}

body.dark-theme .logo-outline {
	fill: #FFFFFF !important;
}

body.dark-theme ul.two-columns li a {
	color: #e5e5e5 !important;
}

body.dark-theme .text-black {
	color: #f1469c !important;
}

body.dark-theme a.social-btn, body.dark-theme a.social-btn:hover {
	color: white;
}
