:root {
    --white: #FFFFFF;
    --darkerwhite: #F2F2F2;
    --black: #0A0A11;
    --darkgrey: #444444;
    --grey: #666666;
    --lightgrey: #EEEEEE;
    --high-light: #CACBE2;
    --high-dark: #6667AB;
    --border-light: #CCCCCC;
    --border-dark: #484848;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --mono: Consolas, Menlo, Monaco, "SF Mono", "DejaVu Sans Mono", "Roboto Mono", "Courier New", Courier, monospace;
}

body {
    --theme-text-color: var(--darkerwhite) !important;
    --theme-bg-color: var(--black) !important;
    --theme-hl-color: var(--high-dark) !important;
    --theme-grey-color: var(--lightgrey) !important;
    --theme-border-color: var(--border-dark) !important;
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
}

body {
    font-family: var(--font);
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 0;
    font-weight: 300;
    text-transform: none;
}


body img {
    filter: brightness(.8) contrast(1.2);
}

/** Reset **/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--font);
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: var(--theme-text-color);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    text-align: left;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: var(--lightgrey);
    clip: auto !important;
    clip-path: none;
    color: var(--darkgrey);
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}

img.screen-reader-text {
    pointer-events: none;
}

[aria-busy="true"] {
    cursor: progress;
}

[aria-controls] {
    cursor: pointer;
}

[aria-disabled],
[disabled] {
    cursor: none;
}

[aria-hidden="false"][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    display: inherit;
    position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

p {
    margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}

address {
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dd {
    margin-left: 0;
}

blockquote {
    margin: 0;
}

dfn {
    font-style: italic;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 90%;
}

sub,
sup {
    position: relative;
    font-size: 85%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a {
    color: var(--theme-text-color);
    text-decoration: none;
    font-weight: 500;
    transition: box-shadow .2s, color .2s;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1rem;
}

pre {
    margin-top: 0;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

table {
    border-collapse: collapse;
}

caption {
    text-align: left;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    max-width: 100%;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    accent-color: var(--theme-bg-color);
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

/* Better checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid var(--lightgrey);
    background: var(--theme-bg-color);
    border-radius: .2em;
    -webkit-transition: all .275s;
    transition: all .275s;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✕';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1rem;
    color: var(--theme-text-color);
    line-height: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
    transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border-color: var(--theme-text-color);
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

figure {
    margin: 0;
}

svg {
    overflow: hidden;
}

svg:not(:root) {
    overflow: hidden;
}

canvas,
audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0s !important;
        transition-duration: 0s !important;
    }
}

/** Blocks **/
.alignleft {
    float: left;
    margin-right: 35px;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.alignright {
    float: right;
    margin-left: 35px;
}

.alignwide,
.alignfull {
    margin-left: -35px;
    margin-right: -35px;
    max-width: none;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .alignwide,
    .alignfull {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.wp-block-button {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-button,
.alignright.wp-block-button {
    margin-top: 0;
}

.wp-block-button__link {
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: var(--theme-text-color);
    color: var(--theme-bg-color);
}

.wp-block-button__link:active {
    opacity: .6;
}

.wp-block-button__link:focus {
    outline: none;
}

.wp-block-button__link:hover {
    box-shadow: none;
}

.wp-block-button__link:focus {
    color: var(--theme-text-color);
    background-color: transparent;
    border-style: dashed;
}

.wp-block-button__link:focus:hover,
.wp-block-button__link:hover {
    background: var(--theme-hl-color);
    color: var(--theme-text-color);
    border-color: var(--theme-hl-color);
}

.is-style-outline .wp-block-button__link {
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: transparent;
    color: var(--theme-text-color);
}

.is-style-outline .wp-block-button__link:active {
    opacity: .6;
}

.is-style-outline .wp-block-button__link:focus {
    outline: none;
}

.is-style-outline .wp-block-button__link:hover {
    box-shadow: none;
}

.is-style-outline .wp-block-button__link:focus {
    border-style: dashed;
}

.is-style-outline .wp-block-button__link:focus:hover,
.is-style-outline .wp-block-button__link:hover {
    border-color: var(--theme-hl-color);
}

.wp-block-columns {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-columns,
.alignright.wp-block-columns {
    margin-top: 0;
}

.wp-block-columns.has-background {
    padding: 2rem 2.5rem;
}

.wp-block-columns.alignwide,
.wp-block-columns.alignfull {
    padding-left: 35px;
    padding-right: 35px;
}

@media only screen and (max-width: 768px) {
    .wp-block-columns.alignwide,
    .wp-block-columns.alignfull {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.wp-block-column:not(:first-child) {
    margin-left: 35px;
}

@media only screen and (max-width: 768px) {
    .wp-block-column:not(:first-child) {
        margin-left: 0;
        margin-top: 24px;
    }
}

.wp-block-file .wp-block-file__button {
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: var(--theme-text-color);
    color: var(--theme-bg-color);
    box-shadow: none !important;
    margin-left: 35px;
}

.wp-block-file .wp-block-file__button:active {
    opacity: .6;
}

.wp-block-file .wp-block-file__button:focus {
    outline: none;
}

.wp-block-file .wp-block-file__button:hover {
    box-shadow: none;
}

.wp-block-file .wp-block-file__button:focus {
    color: var(--theme-text-color);
    background-color: transparent;
    border-style: dashed;
}

.wp-block-file .wp-block-file__button:focus:hover,
.wp-block-file .wp-block-file__button:hover {
    background: var(--theme-hl-color);
    color: var(--theme-text-color);
    border-color: var(--theme-hl-color);
}

figcaption {
    font-family: var(--font);
    font-style: italic;
    font-size: 0.9rem;
    color: var(--theme-grey-color);
}

.wp-block-cover {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-cover,
.alignright.wp-block-cover {
    margin-top: 0;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
    width: calc(100% - 70px);
}

.wp-block-embed {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-embed,
.alignright.wp-block-embed {
    margin-top: 0;
}

.wp-block-embed embed,
.wp-block-embed object {
    display: block;
    height: auto;
    max-width: 100%;
}

div[class^="grids-s-"].alignwide,
div[class^="grids-s-"].alignfull {
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    div[class^="grids-s-"].alignwide,
    div[class^="grids-s-"].alignfull {
        margin-left: -20px;
        margin-right: -20px;
    }
}


.wp-block-gallery {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-gallery,
.alignright.wp-block-gallery {
    margin-top: 0;
}

.wp-block-image {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-image,
.alignright.wp-block-image {
    margin-top: 0;
}

.wp-block-image .alignleft {
    margin-right: 35px;
}

.wp-block-image .alignright {
    margin-left: 35px;
}

.wp-block-image .wp-caption-text {
    display: block;
}

.wp-block-separator {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-separator,
.alignright.wp-block-separator {
    margin-top: 0;
}

.wp-block-group.has-background {
    padding: 48px 35px;
}

@media only screen and (max-width: 768px) {
    .wp-block-group.has-background {
        padding: 36px 20px;
    }
}

.wp-block-separator {
    border: none;
    border-bottom: 1px solid var(--darkerwhite);
}

.wp-block-media-text {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-media-text,
.alignright.wp-block-media-text {
    margin-top: 0;
}

.wp-block-media-text .wp-block-media-text__content {
    padding: 48px 35px;
}

@media only screen and (max-width: 768px) {
    .wp-block-media-text .wp-block-media-text__content {
        padding: 36px 20px;
    }
}

.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-pullquote {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-quote,
.alignleft.wp-block-pullquote,
.alignright.wp-block-quote,
.alignright.wp-block-pullquote {
    margin-top: 0;
}

.wp-block-quote {
    padding-left: 2rem;
}

.wp-block-quote.is-style-large {
    padding-left: 2rem;
}

.wp-block-quote.is-style-large p {
    font-size: 1.5rem;
    font-style: normal;
}

.wp-block-quote.is-style-large cite {
    font-size: 0.9rem;
}

.wp-block-quote p {
    margin-bottom: .5rem;
}

.wp-block-pullquote {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.wp-block-pullquote blockquote {
    padding-left: 0;
    border-left: none;
}

.wp-block-pullquote p {
    font-size: 1.5rem;
}

.wp-block-pullquote.is-style-default {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

.wp-block-pullquote.is-style-solid-color {
    padding: 2rem 3rem;
}

.wp-block-pullquote.is-style-solid-color blockquote {
    max-width: none;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
    font-size: 1.5rem;
}

.wp-block-quote cite,
.wp-block-pullquote cite {
    display: inline-block;
    margin-top: 16px;
    color: var(--theme-grey-color);
}

.wp-block-quote.has-background cite,
.wp-block-pullquote.has-background cite {
    color: inherit;
    opacity: .6;
}

.wp-block-archives,
.wp-block-calendar,
.wp-block-categories,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-search,
.wp-block-tag-cloud,
.wp-block-rss {
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: none;
}

.alignleft.wp-block-archives,
.alignleft.wp-block-calendar,
.alignleft.wp-block-categories,
.alignleft.wp-block-latest-comments,
.alignleft.wp-block-latest-posts,
.alignleft.wp-block-search,
.alignleft.wp-block-tag-cloud,
.alignleft.wp-block-rss,
.alignright.wp-block-archives,
.alignright.wp-block-calendar,
.alignright.wp-block-categories,
.alignright.wp-block-latest-comments,
.alignright.wp-block-latest-posts,
.alignright.wp-block-search,
.alignright.wp-block-tag-cloud,
.alignright.wp-block-rss {
    margin-top: 0;
}

.wp-block-latest-comments__comment-date {
    font-family: var(--font);
    font-style: italic;
    font-size: 0.9rem;
    color: var(--theme-grey-color);
}

.wp-block-latest-comments__comment-excerpt {
    font-size: 0.9rem;
}

.wp-block-latest-posts__post-date {
    font-family: var(--font);
    font-style: italic;
    font-size: 0.9rem;
    color: var(--theme-grey-color);
}

.wp-block-latest-posts__post-excerpt {
    font-size: 0.9rem;
}

.wp-block-latest-posts__featured-image {
    margin-bottom: 12px;
}

.wp-block-search .wp-block-search__button {
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: var(--theme-text-color);
    color: var(--theme-bg-color);
    margin-left: -1px;
}

.wp-block-search .wp-block-search__button:active {
    opacity: .6;
}

.wp-block-search .wp-block-search__button:focus {
    outline: none;
}

.wp-block-search .wp-block-search__button:hover {
    box-shadow: none;
}

.wp-block-search .wp-block-search__button:focus {
    color: var(--theme-text-color);
    background-color: transparent;
    border-style: dashed;
}

.wp-block-search .wp-block-search__button:focus:hover,
.wp-block-search .wp-block-search__button:hover {
    background: var(--theme-hl-color);
    color: var(--theme-text-color);
    border-color: var(--theme-hl-color);
}

.wp-block-code {
    padding: 0;
    font-family: var(--mono);
}

/** Components **/
.xlt-comments {
    padding-left: 0;
    list-style-type: none;
}

.xlt-comments .trackback,
.xlt-comments .pingback {
    margin-top: 12px;
    margin-bottom: 12px;
}

.comment {
    padding-top: 24px;
    padding-bottom: 24px;
    list-style: none;
}

.comment.bypostauthor {
    display: block;
}

.comment .reply a {
    font-weight: 700;
}

.comment .children {
    margin-top: 24px;
    padding-left: 35px;
    margin-left: 17.5px;
    border-left: 1px solid var(--darkerwhite);
}

.comment-body + .comment-respond {
    margin-top: 36px;
}

.comment-meta {
    margin-bottom: 24px;
    font-size: 1.1rem;
}

.comment-meta .fn {
    font-weight: 700;
}

.comment-meta .says {
    color: var(--theme-grey-color);
}

.comment-meta .avatar {
    height: 36px;
    width: 36px;
    float: left;
    margin-right: 17px;
}

.comment-metadata {
    font-family: var(--font);
    font-style: italic;
    font-size: 0.9rem;
}

.comment-metadata a {
    color: var(--theme-grey-color);
    box-shadow: none !important;
}

.comment-metadata .edit-link {
    float: right;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    float: left;
    width: 30%;
}

@media only screen and (max-width: 1600px) {
    .comment-form-author,
    .comment-form-email,
    .comment-form-url {
        width: 100%;
    }
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input {
    width: 100%;
    max-width: 100%;
}

.comment-form-author,
.comment-form-email {
    margin-right: 5%;
}

.comment-form-comment {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

.comment-form-comment textarea {
    width: 100%;
}

.comment-subscribe {
    clear: both;
}

.comment-notes {
    font-size: 0.9rem;
    margin-top: 6px;
    font-family: var(--font);
    font-style: italic;
    color: var(--theme-grey-color);
}

.comment-form-cookies-consent {
    clear: both;
    margin-top: 24px;
    float: left;
    width: 100%;
    display: flex;
}

.comment-form-cookies-consent label {
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 0.9rem;
    color: var(--theme-grey-color);
}

.comment-reply-title {
    margin-bottom: 0;
}

.comment-reply-title > a {
    position: relative;
    margin-left: 32px;
}

.comment-reply-title small {
    float: right;
    font-size: 0.9rem;
}

.form-submit {
    clear: both;
    float: left;
}

.submit {
    margin-top: 12px;
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: var(--theme-text-color);
    color: var(--theme-bg-color);
}

.submit:active {
    opacity: .6;
}

.submit:focus {
    outline: none;
}

.submit:hover {
    box-shadow: none;
}

.submit:focus {
    color: var(--theme-text-color);
    background-color: transparent;
    border-style: dashed;
}

.submit:focus:hover,
.submit:hover {
    background: var(--theme-hl-color);
    color: var(--theme-text-color);
    border-color: var(--theme-hl-color);
}

.comment-respond::after {
    clear: both;
    content: "";
    display: block;
}

.akismet_comment_form_privacy_notice {
    font-size: 0.9rem;
    margin-top: 6px;
}

.xlt-comments_closed {
    background-color: var(--darkerwhite);
    padding: 12px 20px;
    margin-bottom: 0;
}

form input:not([type="submit"]),
form textarea {
    padding: 12px 16px;
    border: 1px solid var(--lightgrey);
    transition-property: background-color, border-color;
    transition-duration: .2s;
    max-width: 100%;
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
}

form input:not([type="submit"]):focus,
form textarea:focus {
    border-color: var(--theme-text-color);
}

form label {
    font-size: 0.9rem;
    margin-bottom: 8px;
    color: var(--theme-grey-color);
}

form legend {
    font-size: 0.9rem;
    padding: 0 12px;
}

form fieldset {
    padding: 23.33333333px;
    margin-bottom: 24px;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption [class*="wp-image-"] {
    display: block;
    float: none;
}

.wp-caption a:before {
    display: none;
}

.wp-caption.alignnone {
    text-align: center;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.format-embed-wrapper iframe {
    width: 100%;
}

.gallery {
    position: relative;
}

.gallery::after {
    clear: both;
    content: "";
    display: block;
}

.gallery a {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.gallery a img {
    display: inline-block;
}

.gallery .gallery-item {
    float: left;
    text-align: center;
    position: relative;
    width: 100%;
    margin: 0;
}

.gallery .gallery-item .gallery-icon {
    margin-right: auto;
}

.gallery.gallery-columns-2 .gallery-item {
    width: 50% !important;
}

.gallery.gallery-columns-2 .gallery-item:nth-child(2n + 1) {
    clear: both;
}

.gallery.gallery-columns-3 .gallery-item {
    width: 33.33333333% !important;
}

.gallery.gallery-columns-3 .gallery-item:nth-child(3n + 1) {
    clear: both;
}

.gallery.gallery-columns-4 .gallery-item {
    width: 25% !important;
}

.gallery.gallery-columns-4 .gallery-item:nth-child(4n + 1) {
    clear: both;
}

.gallery.gallery-columns-5 .gallery-item {
    width: 20% !important;
}

.gallery.gallery-columns-5 .gallery-item:nth-child(5n + 1) {
    clear: both;
}

.gallery.gallery-columns-6 .gallery-item {
    width: 16.66666667% !important;
}

.gallery.gallery-columns-6 .gallery-item:nth-child(6n + 1) {
    clear: both;
}

.gallery.gallery-columns-7 .gallery-item {
    width: 14.28571429% !important;
}

.gallery.gallery-columns-7 .gallery-item:nth-child(7n + 1) {
    clear: both;
}

.gallery.gallery-columns-8 .gallery-item {
    width: 12.5% !important;
}

.gallery.gallery-columns-8 .gallery-item:nth-child(8n + 1) {
    clear: both;
}

.gallery.gallery-columns-9 .gallery-item {
    width: 11.11111111% !important;
}

.gallery.gallery-columns-9 .gallery-item:nth-child(9n + 1) {
    clear: both;
}

.gallery .gallery-caption {
    max-width: none;
}

.gallery br + br {
    display: none;
}

.gallery-columns-1,
.gallery-columns-2,
.gallery-columns-3,
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
    overflow: visible !important;
}

.gallery {
    position: relative;
}

.gallery::after {
    clear: both;
    content: "";
    display: block;
}

.gallery a {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-bottom: 0;
}

.gallery a:before {
    display: none;
}

.gallery a img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    transition: box-shadow .4s;
}

.gallery .gallery-item {
    box-sizing: border-box;
    float: left;
    text-align: center;
    position: relative;
    width: 100%;
}

.gallery .gallery-item a {
    box-shadow: none !important;
}

.gallery .gallery-item a:before {
    display: none;
}

.gallery .gallery-item .gallery-icon {
    margin-right: auto;
}

.gallery.gallery-columns-2 .gallery-item {
    width: 50%;
}

.gallery.gallery-columns-3 .gallery-item {
    width: 33.33333333%;
}

.gallery.gallery-columns-4 .gallery-item {
    width: 25%;
}

.gallery.gallery-columns-5 .gallery-item {
    width: 20%;
}

.gallery.gallery-columns-6 .gallery-item {
    width: 16.66666667%;
}

.gallery.gallery-columns-7 .gallery-item {
    width: 14.28571429%;
}

.gallery.gallery-columns-8 .gallery-item {
    width: 12.5%;
}

.gallery.gallery-columns-9 .gallery-item {
    width: 11.11111111%;
}

@media only screen and (max-width: 768px) {
    .gallery.gallery-columns-1 .gallery-item,
    .gallery.gallery-columns-2 .gallery-item,
    .gallery.gallery-columns-3 .gallery-item,
    .gallery.gallery-columns-4 .gallery-item,
    .gallery.gallery-columns-5 .gallery-item,
    .gallery.gallery-columns-6 .gallery-item,
    .gallery.gallery-columns-7 .gallery-item,
    .gallery.gallery-columns-8 .gallery-item,
    .gallery.gallery-columns-9 .gallery-item {
        width: 50%;
    }
}

.gallery .gallery-caption {
    font-size: 0.9rem;
    font-family: var(--font);
    color: var(--theme-grey-color);
    max-width: none;
    margin-top: 12px;
    margin-bottom: 24px;
}

.gallery br + br {
    display: none;
}

.gallery-columns-1,
.gallery-columns-2,
.gallery-columns-3,
.gallery-columns-4,
.gallery-columns-5,
.gallery-columns-6,
.gallery-columns-7,
.gallery-columns-8,
.gallery-columns-9 {
    overflow: visible;
}

.mejs-horizontal-volume-slider {
    box-shadow: none !important;
}

.xlt-page-navigation {
    grid-row: 2;
    grid-column: 1 / span 3;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-areas: "left center right";
}

@media only screen and (max-width: 1200px) {
    .xlt-page-navigation {
        display: block;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.xlt-page-navigation .pagination {
    padding: 48px 35px;
    grid-area: center;
}

@media only screen and (max-width: 768px) {
    .xlt-page-navigation .pagination {
        padding: 36px 20px;
    }
}

.nav-links {
    display: flex;
}

.nav-links > * {
    text-align: center;
    font-weight: normal;
    width: 36px;
    line-height: 36px;
    transition: opacity .2s ease;
    opacity: .8;
    position: relative;
}

.nav-links > *.current {
    font-weight: bold;
}

.nav-links > *.current,
.nav-links > *:hover:not(.dots) {
    opacity: 1;
}

.nav-links a {
    box-shadow: none !important;
}

.nav-links a:hover {
    box-shadow: none !important;
    color: var(--theme-text-color);
}

.nav-links .next,
.nav-links .prev {
    position: relative;
}

.nav-links .next {
    order: 100;
}

.nav-links .prev {
    order: -1;
}

.xlt-post-nav {
    border: 0 !important;
}

@media only screen and (max-width: 1200px) {
    .xlt-post-nav.xlt-row {
        display: flex;
    }
}

.xlt-post-nav__item {
    position: relative;
}

.xlt-post-nav__item_next svg {
    margin-left: 8px;
}

.xlt-post-nav__item_prev svg {
    margin-right: 8px;
    transform: rotate(180deg);
}

@media only screen and (max-width: 768px) {
    .xlt-post-nav__item {
        line-height: 1.25;
    }

    .xlt-post-nav__item svg {
        display: none;
    }
}

.xlt-post-nav__item p {
    font-family: var(--font);
    font-style: italic;
    font-size: 0.9rem;
    color: var(--theme-grey-color);
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .xlt-post-nav__item p {
        margin-bottom: 6px;
    }
}

.xlt-post-nav__item a {
    font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
    .xlt-post-nav__item a {
        font-size: 0.9rem;
    }
}

.xlt-post-nav__item_prev {
    text-align: left;
    padding-left: 48px;
}

@media only screen and (max-width: 768px) {
    .xlt-post-nav__item_prev {
        padding-left: 0;
    }

    .xlt-post-nav__item_prev a {
        margin-left: 0;
    }
}

.xlt-post-nav__item_next {
    text-align: right;
    padding-right: 48px;
}

@media only screen and (max-width: 768px) {
    .xlt-post-nav__item_next {
        padding-left: 0;
    }
}

.page-links {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.page-links a {
    box-shadow: none !important;
}

.page-links a:hover {
    box-shadow: none !important;
    color: var(--theme-text-color);
}

.post-page-numbers {
    text-align: center;
    font-weight: normal;
    width: 36px;
    line-height: 36px;
    transition: opacity .2s ease;
    opacity: .4;
    position: relative;
}

.post-page-numbers.current {
    font-weight: bold;
}

.post-page-numbers.current,
.post-page-numbers:hover {
    opacity: 1;
}

.page-links-title {
    color: var(--theme-grey-color);
}

.xlt-meta__language {
    margin-bottom: -57px;
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    .xlt-meta__language {
        margin-bottom: -17px;
    }
}

.xlt-meta__tools ul {
    display: flex;
    padding: 8px 0 0 0;
    margin: 0;
    flex-wrap: wrap;
}

.xlt-sidebar_active .xlt-meta__tools ul {
    justify-content: flex-start;
}

@media only screen and (max-width: 1200px) {
    .xlt-meta__tools ul {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 768px) {
    .xlt-meta__tools ul li {
        justify-content: flex-start;
    }
}

.xlt-meta__tools ul li {
    list-style-type: none;
    margin-left: 5px;
}

.xlt-sidebar_active .xlt-meta__tools ul li {
    margin: 0 5px 0 0 !important;
    padding: 0 !important;
}

@media only screen and (max-width: 768px) {
    .xlt-meta__tools ul li {
        margin-left: 0;
        margin-right: 0 !important;
        padding-top: 0;
    }
}

.xlt-meta__tools ul li a {
    box-shadow: none !important;
    transition: background-color .2s;
}

.xlt-meta__tools ul li a svg {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

p,
ol,
ul,
dd,
dl,
pre,
address,
label,
table {
    margin-bottom: 1rem;
}

.xlt-layout a {
    text-decoration: underline;
    text-decoration-color: var(--theme-hl-color);
}

.xlt-layout a:hover {
    box-shadow: inset 0 -.4em 0 0 var(--theme-hl-color);
}

.xlt-layout a:active {
    box-shadow: inset 0 -.4em 0 0 var(--theme-hl-color);
}

ul li,
ol li {
    margin: 6px 0;
}

ul,
ol {
    padding-left: 1.5em;
}

ol {
    list-style-position: inside;
}

@media only screen and (max-width: 768px) {
    ol ol li {
        padding-left: 20px;
    }
}

ul ul {
    margin-top: 12px;
    margin-bottom: 24px;
}

pre,
code,
kbd,
tt,
var {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: var(--darkerwhite);
}

pre {
    padding: 1em;
    margin: 3em 0 !important;
}

b,
strong {
    font-weight: 700;
}

table {
    width: 100%;
}

table caption {
    margin: 12px 0;
}

table thead th {
    vertical-align: bottom;
}

table thead th:after {
    opacity: .8;
}

table tfoot {
    font-size: 0.9rem;
}

table td,
table th {
    position: relative;
    text-align: left;
}

table td:after,
table th:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: currentColor;
    height: 1px;
    opacity: .1;
}

table td,
table th {
    padding: 12px 4px;
}

dl dd {
    margin-top: .5rem;
    margin-left: 1rem;
}

dl dd + dt {
    margin-top: 1rem;
}

blockquote {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0 0 2rem 0;
    padding: 0 0 0 2rem;
    border-left: 2px solid var(--theme-hl-color);
    font-style: normal;
}

cite {
    font-family: var(--font);
    font-style: italic;
    color: var(--theme-grey-color);
    font-size: 0.9rem;
}

.xlt-heading_small {
    font-size: 0.9rem;
    font-family: var(--font);
    font-style: italic;
    color: var(--theme-grey-color);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25em;
}

@media (min-width: 1024px) {
    h1 {
        font-size: calc(7.11111111px + 100vw * .02430556);
    }
}

@media (min-width: 1600px) {
    h1 {
        font-size: 2.8rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25em;
}

@media (min-width: 768px) {
    h2 {
        font-size: calc(16.61538462px + 100vw * .00961538);
    }
}

@media (min-width: 1600px) {
    h2 {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.25em;
}

@media (min-width: 768px) {
    h3 {
        font-size: calc(12.46153846px + 100vw * .00721154);
    }
}

@media (min-width: 1600px) {
    h3 {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25em;
}

@media (min-width: 768px) {
    h4 {
        font-size: calc(14.15384615px + 100vw * .00240385);
    }
}

@media (min-width: 1600px) {
    h4 {
        font-size: 1.1rem;
    }
}

h5 {
    font-family: var(--font);
    font-size: 1rem;
    line-height: 1.25em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

h6 {
    font-family: var(--font);
    font-size: 0.9rem;
    line-height: 1.25em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/** Footer **/
.xlt-f {
    position: relative;
    font-size: 1rem;
}

.xlt-f__col {
    display: flex;
    flex-wrap: wrap;
}

.xlt-f__col .xlt-widgetarea:nth-child(1):nth-last-child(1) {
    width: 100%;
}

.xlt-f__col .xlt-widgetarea:nth-child(1):nth-last-child(2),
.xlt-f__col .xlt-widgetarea:nth-child(2):nth-last-child(1) {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .xlt-f__col .xlt-widgetarea:nth-child(1):nth-last-child(2),
    .xlt-f__col .xlt-widgetarea:nth-child(2):nth-last-child(1) {
        width: 100%;
    }
}

.xlt-f__col:nth-child(1) {
    grid-area: left;
}

.xlt-f__col:nth-child(2) {
    grid-area: center;
}

.xlt-f__col:nth-child(3) {
    grid-area: right;
}

.xlt-widgetarea {
    flex-grow: 1;
}

.xlt-copy {
    padding: 24px 35px;
}

.xlt-copy p {
    color: var(--theme-grey-color);
    margin-bottom: 0;
}

.xlt-copy a, .xlt-copy a:hover {
    box-shadow: none;
}

.xlt-arrow-up {
    font-size: 2rem;
    margin-top: -20px;
    display: inline-block;
}

.xlt-arrow-up:hover {
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
    .xlt-copy {
        padding: 24px 20px;
    }
}

/** Header **/
.xlt-logo {
    grid-area: left;
}

.xlt-logo a {
    text-decoration: none;
    box-shadow: none !important;
    display: inline-block;
}

.custom-logo-link + a {
    margin-top: 12px;
}

.xlt-h__right-col {
    grid-column: 2 / span 2;
    display: flex;
    position: relative;
    justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
    .xlt-h__right-col {
        position: static;
    }
}

.xlt-site__title {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.25;
    color: var(--theme-text-color);
    margin-bottom: 0;
}

.xlt-site__title a {
    font-weight: 900;
    box-shadow: none !important;
}

.xlt-site__title a:hover {
    color: inherit;
}

.xlt-site__description {
    font-family: var(--font);
    font-style: italic;
    color: var(--theme-grey-color);
    margin-bottom: 0;
    font-size: 0.9rem;
}

@media only screen and (max-width: 1200px) {
    .xlt-h.xlt-row {
        display: flex;
        justify-content: space-between;
    }
}

.xlt-nav__wrapper {
    position: fixed;
    top: 0;
    right: 3vw;
    bottom: 0;
    left: 0;
    z-index: 90;
    visibility: hidden;
    overflow: hidden;
    transition: visibility 0s .4s;
}

@media only screen and (max-width: 1200px) {
    .xlt-nav__wrapper {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        right: 0;
    }
}

.xlt-h-nav_open .xlt-nav__wrapper {
    transition-delay: 0s;
}

.xlt-nav__wrapper::before {
    content: "";
    opacity: 0;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: opacity .4s;
}

@media only screen and (max-width: 1200px) {
    .xlt-nav__wrapper::before {
        position: fixed;
    }
}

.xlt-h-nav_open .xlt-nav__wrapper::before {
    opacity: 1;
}

.xlt-h-nav_open .xlt-nav__wrapper {
    visibility: visible;
}

.xlt-nav {
    background-color: var(--theme-bg-color);
    padding: 48px 67px 48px 35px;
    width: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    overflow-y: auto;
    transition: transform .3s cubic-bezier(.645, .045, .355, 1);
}

@media only screen and (max-width: 768px) {
    .xlt-nav {
        width: 100%;
    }
}

.xlt-nav .menu {
    padding-left: 0;
}

.xlt-nav-title {
    font-size: 1.5rem;
    line-height: 1.25em;
    font-weight: 700;
}

.xlt-nav .menu > ul {
    padding-left: 0;
}

.xlt-nav .sub-menu {
    padding-left: 16px;
    border-left: 1px solid var(--darkerwhite);
}

.xlt-nav .sub-menu > li > a {
    position: relative;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 500;
}

.xlt-nav .sub-menu > li > a::before {
    content: "";
    display: block;
    width: 8px;
    height: 1px;
    background-color: var(--darkerwhite);
    position: absolute;
    top: 50%;
    left: -16px;
}

.xlt-nav ul {
    list-style-type: none;
}

.xlt-h-nav_open .xlt-nav {
    transform: translateX(0);
}

.xlt-h-nav__trigger {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    z-index: 100;
    vertical-align: middle;
}

.xlt-h-nav__trigger:focus {
    outline: none;
}

.xlt-h-nav__trigger span {
    width: 24px;
    height: 2px;
    border-radius: 50em;
    background-color: var(--theme-text-color);
    position: absolute;
    top: calc(50% - 2px / 2);
    left: calc(50% - (32px * .75) / 2);
    transition-delay: .2s;
}

.xlt-h-nav_open .xlt-h-nav__trigger span {
    height: 0;
}

.xlt-h-nav__trigger span::before,
.xlt-h-nav__trigger span::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    border-radius: 0;
    transition: top .2s .2s, transform .35s, background-color .1s;
    transition-timing-function: cubic-bezier(.86, 0, .07, 1), cubic-bezier(.68, -.55, .265, 1.55);
    transform-origin: center center;
    background-color: var(--theme-text-color);
}

.xlt-h-nav_open .xlt-h-nav__trigger span::before,
.xlt-h-nav_open .xlt-h-nav__trigger span::after {
    transition-delay: 0s, .2s;
}

.xlt-h-nav__trigger span::before {
    top: -8px;
}

.xlt-h-nav_open .xlt-h-nav__trigger span::before {
    top: 0;
    transform: rotate(-45deg);
}

.xlt-h-nav__trigger span::after {
    top: 8px;
}

.xlt-h-nav_open .xlt-h-nav__trigger span::after {
    top: 0;
    transform: rotate(45deg);
}

.xlt-nav_footer, .xtl-inline {
    display: inline-block;
}

.xlt-nav_footer a {
    margin: 0 5px;
    box-shadow: none;
    text-decoration: underline;
}

.xlt-nav_footer a:hover {
    text-decoration: none;
}

.xlt-f .creative {
    width: 16px;
    height: 16px;
    margin: 0 4px;
}

/** Layout **/
.xlt-grid {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

@media only screen and (max-width: 1200px) {
    .xlt-grid {
        grid-template-columns: 1fr;
        width: 768px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 768px) {
    .xlt-grid {
        display: none;
    }
}

.xlt-grid_vertical:nth-child(2) {
    width: 1px;
    border: 2px solid var(--theme-hl-color);
}

.xlt-grid_vertical:nth-child(3) {
    width: 1px;
    border: 1px dashed var(--theme-hl-color);
}

.xlt-grid_vertical:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 1;
}

.xlt-grid_vertical:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 2;
}

.xlt-grid_vertical:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 3;
}

@media only screen and (max-width: 1200px) {
    .xlt-grid_vertical:nth-child(2) {
        display: none;
    }
    .xlt-grid_vertical:nth-child(3) {
        display: none;
    }
}

.xlt-grid_vertical:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 4;
}

@media only screen and (max-width: 1200px) {
    .xlt-grid_vertical:nth-child(4) {
        display: none;
    }
}

body,
html {
    height: 100%;
}

body.xlt-h-nav_open {
    overflow: hidden;
}

.xlt-layout {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--theme-bg-color);
}

@media only screen and (max-width: 1200px) {
    .xlt-layout {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px) {
    .xlt-layout {
        display: block;
        min-height: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.xlt-row {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    grid-template-areas: "left center right";
}

.xlt-row-nav {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
}

@media only screen and (max-width: 1200px) {
    .xlt-row {
        display: block;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}

.xlt-spacing {
    padding: 48px 45px;
}

@media only screen and (max-width: 768px) {
    .xlt-spacing {
        padding: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .xlt-spacing {
        padding: 20px 35px;
    }
}

.xlt-spacing-min {
    padding: 20px 45px 10px 45px;
}

@media only screen and (max-width: 768px) {
    .xlt-spacing-min {
        padding: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .xlt-spacing-min {
        padding: 20px 35px;
    }
}

@media only screen and (max-width: 768px) {
    .xlt-spacing.xlt-spacing-title {
        max-width: 60%;
    }
}

/** Loop **/
.xlt-loop__wrapper {
    grid-area: center;
}

@media only screen and (max-width: 1200px) {
    .xlt-entry {
        border-bottom: none;
    }
}

.xlt-entry:last-child {
    border-bottom: none;
}

@media only screen and (max-width: 1200px) {
    .xlt-entry:last-child .xlt-row {
        border-bottom: none;
    }
}

.xlt-entry__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.xlt-entry__before-title {
    font-family: var(--font);
    font-style: italic;
    font-size: 1rem;
    color: var(--theme-grey-color);
    margin-bottom: 8px;
}

.xlt-entry__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0.8em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
    .xlt-entry__title {
        padding-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .xlt-entry__title {
        font-size: calc(7.11111111px + 100vw * .02430556);
    }
}

@media (min-width: 1600px) {
    .xlt-entry__title {
        font-size: 2.8rem;
    }
}

.archive .xlt-entry__title,
.search .xlt-entry__title {
    font-family: var(--font);
    font-size: 2rem;
    line-height: 1.25em;
    font-weight: 700;
}

.xlt-entry__title a {
    font-weight: inherit;
}

.xlt-entry__comment {
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.xlt-entry__comment svg {
    margin-right: 5px;
}

.xlt-entry__comment svg path {
    fill: var(--theme-text-color);
}

.xlt-entry__meta {
    font-size: 0.9rem;
}

.xlt-entry__meta .xlt-heading_small {
    margin-bottom: 0;
}

.post-password-required label,
.post-password-form label {
    display: block;
    margin-bottom: 12px;
}

.post-password-required label input[type="password"],
.post-password-form label input[type="password"] {
    margin-top: 6px;
    width: 100%;
}

.post-password-required label + input[type="submit"],
.post-password-form label + input[type="submit"] {
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: var(--theme-text-color);
    color: var(--theme-bg-color);
}

.post-password-required label + input[type="submit"]:active,
.post-password-form label + input[type="submit"]:active {
    opacity: .6;
}

.post-password-required label + input[type="submit"]:focus,
.post-password-form label + input[type="submit"]:focus {
    outline: none;
}

.post-password-required label + input[type="submit"]:hover,
.post-password-form label + input[type="submit"]:hover {
    box-shadow: none;
}

.post-password-required label + input[type="submit"]:focus,
.post-password-form label + input[type="submit"]:focus {
    color: var(--theme-text-color);
    background-color: transparent;
    border-style: dashed;
}

.post-password-required label + input[type="submit"]:focus:hover,
.post-password-required label + input[type="submit"]:hover,
.post-password-form label + input[type="submit"]:focus:hover,
.post-password-form label + input[type="submit"]:hover {
    background: var(--theme-hl-color);
    color: var(--theme-text-color);
    border-color: var(--high-light);
}

.xlt-loop-search {
    grid-area: center;
    grid-row: 3;
    padding: 48px 35px;
    border-top: 1px solid var(--darkerwhite);
}

@media only screen and (max-width: 768px) {
    .xlt-loop-search {
        padding: 36px 20px;
    }
}

.search-form label {
    display: block;
}

.search-form input[type="search"] {
    width: 100%;
}

.search-submit {
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: var(--theme-text-color);
    color: var(--theme-bg-color);
}

.search-submit:active {
    opacity: .6;
}

.search-submit:focus {
    outline: none;
}

.search-submit:hover {
    box-shadow: none;
}

.search-submit:focus {
    color: var(--theme-text-color);
    background-color: transparent;
    border-style: dashed;
}

.search-submit:focus:hover,
.search-submit:hover {
    background: var(--high-light);
    color: var(--theme-text-color);
    border-color: var(--high-light);
}

.xlt-loop-search_no-results {
    grid-area: center;
    padding: 48px 35px;
}

@media only screen and (max-width: 768px) {
    .xlt-loop-search_no-results {
        padding: 36px 20px;
    }
}

.xlt-entry__format {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    background-color: var(--darkerwhite);
}

.xlt-entry__format svg {
    height: 12px;
    width: 12px;
}

.sticky {
    background-color: var(--darkerwhite);
}

/** Page Header **/
.xlt-ph {
    grid-area: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.xlt-sidebar_active .xlt-ph {
    grid-row: 1 / span 2;
}

.xlt-ph__author {
    display: flex;
    align-items: center;
    line-height: 1.25;
}

.xlt-ph__author img {
    margin-right: 17.5px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.xlt-ph__author p {
    font-family: var(--font);
    font-size: 0.9rem;
    font-style: italic;
    color: var(--theme-grey-color);
    margin-bottom: 0;
}

.xlt-ph__author .author {
    font-size: 1.1rem;
    font-weight: 500;
}

.xlt-ph__before-title {
    font-family: var(--font);
    font-style: italic;
    color: var(--theme-grey-color);
    margin-bottom: 8px;
}

.xlt-ph__before-title + .xlt-ph__title {
    margin-top: 0;
}

.xlt-ph__title {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-bottom: 0;
    padding-bottom: 1em;
}

.xlt-ph__title.loop {
    padding-bottom: 0 !important;
}

h2.xlt-ph__title {
    font-size: 2rem;
}

@media (min-width: 1024px) {
    h2.xlt-ph__title {
        font-size: calc(7.11111111px + 100vw * .02430556);
    }
}

@media (min-width: 1600px) {
    h2.xlt-ph__title {
        font-size: 2.8rem;
    }
}

.xlt-featured-image {
    margin: 0 -35px 2em;
}

.xlt-featured-image img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .xlt-featured-image {
        margin-top: -24px;
        margin-left: auto;
        margin-right: auto;
    }
}

/** Single **/
.xlt-meta {
    grid-area: right;
}

.xlt-sidebar_active .xlt-meta {
    grid-area: center;
    grid-row: 2;
    align-self: flex-end;
}

.xlt-meta__wrapper {
    text-align: right;
    font-size: 1rem;
}

.xlt-sidebar_active .xlt-meta__wrapper {
    text-align: left;
}

@media only screen and (max-width: 1200px) {
    .xlt-meta__wrapper {
        text-align: left;
    }
}

.xlt-meta__wrapper > div {
    margin-bottom: 24px;
}

.xlt-meta__wrapper > div:last-child {
    margin-bottom: 0;
}

.xlt-meta__wrapper p {
    margin-bottom: 0;
}

.xlt-meta__date {
    font-family: var(--font);
    font-style: italic;
    color: var(--theme-grey-color);
}

.xlt-content {
    grid-area: center;
    line-height: 1.8;
    font-size: 1.4rem;
}

.xlt-main-sidebar {
    grid-area: right;
    grid-row: 1 / span 2;
    font-size: 1rem;
}

.xlt-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 28px;
}

.two-columns {
    list-style: none;
    padding: 0;
    margin: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.xlt-widget__title {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.xlt-widgetarea .widget + .widget {
    margin-top: 48px;
}

.widget > ul, .wp-block-page-list {
    list-style-type: none;
    padding-left: 0;
}

.widget_recent_entries .post-date {
    font-family: var(--font);
    font-style: italic;
    color: var(--theme-grey-color);
    margin-left: .3rem;
}

.widget_nav_menu .menu {
    list-style-type: none;
    padding-left: 0;
}

body.admin-bar .xlt-nav {
    padding-top: 80px;
}

/** 512KB Club **/
.kb-club a {
    text-decoration: none;
    color: var(--theme-text-color);
    font-weight: bold !important;
    font-family: sans-serif;
    padding: .25rem 0;
    transition: .4s;
}

.kb-club-bg,
.kb-club-no-bg {
    padding: .25rem .5rem;
}

.kb-club-no-bg {
    background: var(--theme-bg-color);
    border: 1px solid var(--theme-grey-color);
}

.kb-club-bg {
    background: #64B5F6;
    color: #0A0A11;
    border-top: 1px solid var(--theme-grey-color);
    border-bottom: 1px solid var(--theme-grey-color);
    border-right: 1px solid var(--theme-grey-color);
}

.svg-btn svg {
    vertical-align: middle !important;
}

.svg-btn {
    display: inline !important;
    box-shadow: none !important;
}

a.svg-btn {
    text-decoration: underline !important;
    color: var(--theme-text-color);
}

a.svg-btn:hover {
    text-decoration: none !important;
    color: var(--theme-text-color);
}

a.no-under {
    text-decoration: none !important;
}

.svg-btn span {
    margin-left: 8px;
}

/** Shrink **/
.xlt-shrink {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.xlt-shrink:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

/** No Avatar **/
.letter-avatar {
    background-color: var(--theme-hl-color);
    text-align: center;
    line-height: 36px;
    height: 36px;
    width: 36px;
}

.letter-avatar > span {
    color: var(--theme-text-color);
    display: block;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 36px;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
    top: 10px;
    left: 0;
    width: 100%;
}

/** Details **/
summary {
    position: relative;
}

summary::marker {
    content: none;
}

summary::before,
summary::after {
    content: '';
}

summary::before,
summary::after {
    width: .75em;
    height: 0;
    border-bottom: 2px solid;
    border-top: 2px solid;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
    color: var(--theme-hl-color);
}

summary::before {
    top: calc(50%);
}

summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}

[open] summary::after {
    transform: rotate(0deg);
}

button.search {
    padding: 12px 15px;
    margin: 0;
    display: inline;
    border: 1px solid var(--lightgrey);
}

input.search {
    display: inline;
}

/** Captcha **/
input[name="eazycfc_captcha"] {
    max-width: 40px !important;
    height: 40px !important;
    padding: 8px !important;
}

span.eazycfc_captcha {
    margin-top: 10px;
    margin-bottom: -10px;
}

.xlt-top-smaller {
    padding-top: 18px;
}

.xlt-inline {
    display: inline-block;
    margin-right: 5px
}