<div class="col-md-11 text-break">
	<h2 class="display-5 pb-3">
		{{ lang == 'it'? post.title : post.title_en }}
	</h2>
	<hr class="pt-0 mt-0 mb-4"/>
	<section class="page-content">
		{{ lang == 'it'? post.content : post.content_en }}
	</section>
</div>
<div class="col-md-1">
	{% include 'partial/tabs.twig' %}
</div>
