:root {
    color-scheme: light dark;

    --white: #FFFFFF;
    --darkerwhite: #F2F2F2;
    --black: #0A0A11;
    --darkgrey: #444444;
    --grey: #666666;
    --lightgrey: #EEEEEE;
    --high-light: #CACBE2;
    --high-dark: #6667AB;
    --green: #46b450;
    --red: #dc3232;
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --mono: Consolas, Menlo, Monaco, "SF Mono", "DejaVu Sans Mono", "Roboto Mono", "Courier New", Courier, monospace;
}

body {
    --theme-text-color: var(--black) !important;
    --theme-bg-color: var(--white) !important;
    --theme-hl-color: var(--high-light) !important;
    --theme-grey-color: var(--grey) !important;
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
}

body.dark-theme {
    --theme-text-color: var(--darkerwhite) !important;
    --theme-bg-color: var(--black) !important;
    --theme-hl-color: var(--high-dark) !important;
    --theme-grey-color: var(--lightgrey) !important;
}

body.dark-theme img {
    filter: brightness(.8) contrast(1.2);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

a, a:hover {
    color: var(--theme-hl-color);
}

p {
    line-height: 1.5;
}

.login .message,
.login .success,
.login #login_error {
    border-left: 4px solid var(--theme-hl-color);
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    background-color: var(--theme-bg-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.login .success {
    border-left-color: var(--green);
}

.login #login_error {
    border-left-color: var(--red);
}

.login h1 {
    text-align: center;
    width: 320px;
    margin: 0 auto
}

.login h1 a {
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 0;
    outline: none;
    overflow: hidden;
    display: block;
    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.25;
    color: var(--theme-text-color);
}

.login h1 a:hover {
    text-decoration: none;
}

#login {
    width: 320px;
    padding: 8% 0 0;
    margin: auto;
}

.login #backtoblog, .privacy-policy-page-link, .grecaptcha-badge {
    display: none !important
}

#login {
    width: 100%;
    text-align: center;
    margin: 0 auto
}

.desc {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 24px;
    font-family: var(--font);
    font-size: 1.6rem;
    color: var(--theme-text-color);
}

.login form {
    width: 360px;
    margin: 20px auto 0;
    padding: 26px 24px;
    overflow: hidden;
    background: var(--theme-bg-color);
}

@media screen and (max-width: 782px) {
    .login form {
        width: 320px;
    }
}

.login form.shake {
    animation: shake 0.2s cubic-bezier(.19, .49, .38, .79) both;
    animation-iteration-count: 3;
    transform: translateX(0);
}

@keyframes shake {
    25% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    .login form.shake {
        animation: none;
        transform: none;
    }
}

.login-action-confirm_admin_email #login {
    width: 60vw;
    max-width: 650px;
    margin-top: -2vh;
}

@media screen and (max-width: 782px) {
    .login-action-confirm_admin_email #login {
        box-sizing: border-box;
        margin-top: 0;
        padding-left: 4vw;
        padding-right: 4vw;
        width: 100vw;
    }
}

.login form .forgetmenot {
    font-weight: 400;
    margin-bottom: 0;
    display: block;
    text-align: left;
    padding-top: 10px;
}

.login label[for=user_login], .login label[for=user_pass] {
    font-size: 1.125rem;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

#login form p {
    margin-top: 0;
    margin-bottom: 1rem
}

.login #login_error, .login .message, .login .success {
    background-color: var(--theme-bg-color);
    box-shadow: none;
    min-width: 320px;
    max-width: 620px;
    margin: 20px auto 0;
    padding: 26px 24px;
}

.login .admin-email-confirm-form .submit {
    text-align: center;
}

.submit, .submit:hover {
    margin: 0;
    padding: 0;
    font-weight: inherit;
    font-family: inherit;
    border-radius: 0;
    cursor: inherit;
    border: none;
    background: inherit;
    color: inherit;
}

#wp-submit {
    margin-top: 12px;
    padding: 10px 22px;
    font-weight: 700;
    font-family: inherit;
    border-radius: 0;
    transition-property: background-color,color,border-color,opacity;
    transition-duration: .2s;
    cursor: pointer;
    border: 2px solid var(--theme-text-color);
    background: var(--theme-text-color);
    color: var(--theme-bg-color);
}

#wp-submit:active {
    opacity: .6;
}

#wp-submit:focus {
    outline: none;
}

#wp-submit:hover {
    box-shadow: none;
}

#wp-submit:focus {
    color: var(--theme-text-color);
    background-color: transparent;
    border-style: dashed;
}

#wp-submit:focus:hover,
#wp-submitt:hover {
    background: var(--theme-hl-color);
    color: var(--theme-text-color);
    border-color: var(--theme-hl-color);
}

.admin-email__later {
    text-align: left;
}

.login form p.admin-email__details {
    margin: 1.1em 0;
}

.login h1.admin-email__heading {
    border-bottom: 1px solid var(--theme-bg-color);
    color: var(--theme-text-color);
    font-weight: normal;
    padding-bottom: 0.5em;
    text-align: left;
}

.admin-email__actions div {
    padding-top: 1.5em;
}

.login .admin-email__actions .button-primary {
    float: none;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.login .forgetmenot label,
.login .pw-weak label {
    line-height: 1.5;
    vertical-align: baseline;
}

.login #nav,
.login #backtoblog {
    font-size: 1em;
    padding: 0 24px 0;
}

.login #nav {
    margin: 24px 0 0 0;
}

#backtoblog {
    margin: 16px 0;
}

.login #pass-strength-result {
    font-weight: 600;
    margin: -1px 5px 16px 0;
    padding: 6px 5px;
    text-align: center;
    width: 100%;
}

body.interim-login {
    height: auto;
}

.interim-login #login {
    padding: 0;
    margin: 5px auto 20px;
}

.interim-login.login h1 a {
    width: auto;
}

.interim-login #login_error,
.interim-login.login .message {
    margin: 0 0 16px;
}

.interim-login.login form {
    margin: 0;
}


.screen-reader-text,
.screen-reader-text span {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}


input::-ms-reveal {
    display: none;
}

@media screen and (max-height: 550px) {
    #login {
        padding: 20px 0;
    }
}


@media screen and (max-width: 782px) {
    .interim-login input[type=checkbox] {
        width: 1rem;
        height: 1rem;
    }

    .interim-login input[type=checkbox]:checked:before {
        width: 1.3125rem;
        height: 1.3125rem;
        margin: -0.1875rem 0 0 -0.25rem;
    }
}

.login .button.wp-hide-pw {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 14px;
    line-height: 2;
    width: 2.5rem;
    height: 2.5rem;
    min-width: 40px;
    min-height: 40px;
    margin: 0;
    padding: 5px 9px;
    position: absolute;
    right: 0;
    top: 0;
}

.login .button.wp-hide-pw:hover {
    background: transparent;
}

.login .button.wp-hide-pw:focus {
    background: transparent;
    border-color: var(--theme-hl-color);
    box-shadow: 0 0 0 1px var(--theme-hl-color);
    outline: 2px solid transparent;
}

.login .button.wp-hide-pw:active {
    background: transparent;
    box-shadow: none;
    transform: none;
}

.login .button.wp-hide-pw .dashicons {
    width: 1.25rem;
    height: 1.25rem;
    top: 0.25rem;
}

.login .wp-pwd {
    position: relative;
}

.no-js .hide-if-no-js {
    display: none;
}

#wp-submit {
    width: 100%;
}
